# Discovering Data

In [2]:
#Importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Reading the data
df1 = pd.read_csv("Student Mental health.csv")
df2 = pd.read_csv("mxmh_survey_results.csv")

In [4]:
#Information about the shape of the data
print('The shape of df1: ', df1.shape)
print('The shape of df2: ', df2.shape)

The shape of df1:  (101, 11)
The shape of df2:  (736, 33)

In [5]:
df1.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [6]:
df2.head()

,Timestamp,Age,Primary streaming service,Hours per day,While working,Instrumentalist,Composer,Fav genre,Exploratory,Foreign languages,...,Frequency [R&B],Frequency [Rap],Frequency [Rock],Frequency [Video game music],Anxiety,Depression,Insomnia,OCD,Music effects,Permissions
0,8/27/2022 19:29:02,18.0,Spotify,3.0,Yes,Yes,Yes,Latin,Yes,Yes,...,Sometimes,Very frequently,Never,Sometimes,3.0,0.0,1.0,0.0,NaN,I understand.
1,8/27/2022 19:57:31,63.0,Pandora,1.5,Yes,No,No,Rock,Yes,No,...,Sometimes,Rarely,Very frequently,Rarely,7.0,2.0,2.0,1.0,NaN,I understand.
2,8/27/2022 21:28:18,18.0,Spotify,4.0,No,No,No,Video game music,No,Yes,...,Never,Rarely,Rarely,Very frequently,7.0,7.0,10.0,2.0,No effect,I understand.
3,8/27/2022 21:40:40,61.0,YouTube Music,2.5,Yes,No,Yes,Jazz,Yes,Yes,...,Sometimes,Never,Never,Never,9.0,7.0,3.0,3.0,Improve,I understand.
4,8/27/2022 21:54:47,18.0,Spotify,4.0,Yes,No,No,R&B,Yes,No,...,Very frequently,Very frequently,Never,Rarely,7.0,2.0,5.0,9.0,Improve,I understand.

*The timestamp represents the time when the participants filled out the survey. So I'll delete it when cleaning the data*

In [7]:
df1.columns

Index(['Timestamp', 'Choose your gender', 'Age', 'What is your course?',
       'Your current year of Study', 'What is your CGPA?', 'Marital status',
       'Do you have Depression?', 'Do you have Anxiety?',
       'Do you have Panic attack?',
       'Did you seek any specialist for a treatment?'],
      dtype='object')

*The column names represent questions from the survey, and they can be modified to be more meaningful.*

In [18]:
df2.columns

Index(['Timestamp', 'Age', 'Primary streaming service', 'Hours per day',
       'While working', 'Instrumentalist', 'Composer', 'Fav genre',
       'Exploratory', 'Foreign languages', 'BPM', 'Frequency [Classical]',
       'Frequency [Country]', 'Frequency [EDM]', 'Frequency [Folk]',
       'Frequency [Gospel]', 'Frequency [Hip hop]', 'Frequency [Jazz]',
       'Frequency [K pop]', 'Frequency [Latin]', 'Frequency [Lofi]',
       'Frequency [Metal]', 'Frequency [Pop]', 'Frequency [R&B]',
       'Frequency [Rap]', 'Frequency [Rock]', 'Frequency [Video game music]',
       'Anxiety', 'Depression', 'Insomnia', 'OCD', 'Music effects',
       'Permissions'],
      dtype='object')

In [8]:
#See information about df1
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 11 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Timestamp                                     101 non-null    object
 1   Choose your gender                            101 non-null    object
 2   Age                                           100 non-null    float64
 3   What is your course?                          101 non-null    object
 4   Your current year of Study                    101 non-null    object
 5   What is your CGPA?                            101 non-null    object
 6   Marital status                                101 non-null    object
 7   Do you have Depression?                       101 non-null    object
 8   Do you have Anxiety?                          101 non-null    object
 9   Do you have Panic attack?                     101 non-null    object
 10  Did you seek any specialist for a treatment?  101 non-null    object
dtypes: float64(1), object(10)
memory usage: 8.8+ KB

*We can see that there is one missing data in the age column.
There is also a problem with the types of some columns such as the CGPA column that is considred as an object*

In [9]:
#See information about df2
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Timestamp                     736 non-null    object
 1   Age                           735 non-null    float64
 2   Primary streaming service     735 non-null    object
 3   Hours per day                 736 non-null    float64
 4   While working                 733 non-null    object
 5   Instrumentalist               732 non-null    object
 6   Composer                      735 non-null    object
 7   Fav genre                     736 non-null    object
 8   Exploratory                   736 non-null    object
 9   Foreign languages             732 non-null    object
 10  BPM                           629 non-null    float64
 11  Frequency [Classical]         736 non-null    object
 12  Frequency [Country]           736 non-null    object
 13  Frequency [EDM]               736 non-null    object
 14  Frequency [Folk]              736 non-null    object
 15  Frequency [Gospel]            736 non-null    object
 16  Frequency [Hip hop]           736 non-null    object
 17  Frequency [Jazz]              736 non-null    object
 18  Frequency [K pop]             736 non-null    object
 19  Frequency [Latin]             736 non-null    object
 20  Frequency [Lofi]              736 non-null    object
 21  Frequency [Metal]             736 non-null    object
 22  Frequency [Pop]               736 non-null    object
 23  Frequency [R&B]               736 non-null    object
 24  Frequency [Rap]               736 non-null    object
 25  Frequency [Rock]              736 non-null    object
 26  Frequency [Video game music]  736 non-null    object
 27  Anxiety                       736 non-null    float64
 28  Depression                    736 non-null    float64
 29  Insomnia                      736 non-null    float64
 30  OCD                           736 non-null    float64
 31  Music effects                 728 non-null    object
 32  Permissions                   736 non-null    object
dtypes: float64(7), object(26)
memory usage: 189.9+ KB

In [19]:
#What's the percentage of null values in df1 and df2?
print('df1:\n----------------------')
print((df1.isnull().sum()*100/df1.shape[0]).round(2))
print('\ndf2:\n----------------------')
print((df2.isnull().sum()*100/df2.shape[0]).round(2))

df1:
----------------------
Timestamp                                       0.00
Choose your gender                              0.00
Age                                             0.99
What is your course?                            0.00
Your current year of Study                      0.00
What is your CGPA?                              0.00
Marital status                                  0.00
Do you have Depression?                         0.00
Do you have Anxiety?                            0.00
Do you have Panic attack?                       0.00
Did you seek any specialist for a treatment?    0.00
dtype: float64

df2:
----------------------
Timestamp                        0.00
Age                              0.14
Primary streaming service        0.14
Hours per day                    0.00
While working                    0.41
Instrumentalist                  0.54
Composer                         0.14
Fav genre                        0.00
Exploratory                      0.00
Foreign languages                0.54
BPM                             14.54
Frequency [Classical]            0.00
Frequency [Country]              0.00
Frequency [EDM]                  0.00
Frequency [Folk]                 0.00
Frequency [Gospel]               0.00
Frequency [Hip hop]              0.00
Frequency [Jazz]                 0.00
Frequency [K pop]                0.00
Frequency [Latin]                0.00
Frequency [Lofi]                 0.00
Frequency [Metal]                0.00
Frequency [Pop]                  0.00
Frequency [R&B]                  0.00
Frequency [Rap]                  0.00
Frequency [Rock]                 0.00
Frequency [Video game music]     0.00
Anxiety                          0.00
Depression                       0.00
Insomnia                         0.00
OCD                              0.00
Music effects                    1.09
Permissions                      0.00
dtype: float64

*We can see that there are many missing values, especially in df2, particularly in the "BPM" column.*

In [35]:
#Look at max values in df1 and df2:
print("df1:\n")
print(df1.select_dtypes(include = 'number').max())
print('\n-------------------')
print("df2:\n")
print(df2.select_dtypes(include = 'number').max())

df1:

Age    24.0
dtype: float64

-------------------
df2:

Age                     89.0
Hours per day           24.0
BPM              999999999.0
Anxiety                 10.0
Depression              10.0
Insomnia                10.0
OCD                     10.0
dtype: float64

*We can see that there is an issue with the max value of BPM since  999999999.0 is not a possible value for the BPM.
We can also see that the ages are different and as in this project we are only studying students we will limit the age to 24 years*

In [20]:
#Look at the values of the columns of df1
df1['Your current year of Study'].value_counts()

year 1    41
Year 3    19
Year 2    16
year 2    10
year 4     8
year 3     5
Year 1     2
Name: Your current year of Study, dtype: int64

*We can see that the years are written in different formats*

In [22]:
df1["Choose your gender"].value_counts()

Female    75
Male      26
Name: Choose your gender, dtype: int64

In [23]:
df1['What is your course?'].value_counts()

BCS                        18
Engineering                17
BIT                        10
Biomedical science          4
KOE                         4
BENL                        2
Laws                        2
psychology                  2
Engine                      2
Islamic Education           1
Biotechnology               1
engin                       1
Econs                       1
MHSC                        1
Malcom                      1
Kop                         1
Human Sciences              1
Communication               1
Nursing                     1
Diploma Nursing             1
IT                          1
Pendidikan Islam            1
Radiography                 1
Fiqh fatwa                  1
DIPLOMA TESL                1
Koe                         1
Fiqh                        1
CTS                         1
koe                         1
Benl                        1
Kirkhs                      1
Mathemathics                1
Pendidikan islam            1
Human Resources             1
Irkhs                       1
Psychology                  1
KENMS                       1
Accounting                  1
ENM                         1
Marine science              1
Banking Studies             1
Business Administration     1
Law                         1
KIRKHS                      1
Usuluddin                   1
TAASL                       1
ALA                         1
Islamic education           1
Pendidikan Islam            1
Name: What is your course?, dtype: int64

*We can see that there are some repeated courses in different formats such as `Engineering` and `engin`*

In [26]:
columns = ['Marital status',
       'Do you have Depression?', 'Do you have Anxiety?',
       'Do you have Panic attack?',
       'Did you seek any specialist for a treatment?']
for column in columns :
    print(df1[column].value_counts())
    print('---------------\n')

No     85
Yes    16
Name: Marital status, dtype: int64
---------------

No     66
Yes    35
Name: Do you have Depression?, dtype: int64
---------------

No     67
Yes    34
Name: Do you have Anxiety?, dtype: int64
---------------

No     68
Yes    33
Name: Do you have Panic attack?, dtype: int64
---------------

No     95
Yes     6
Name: Did you seek any specialist for a treatment?, dtype: int64
---------------

In [27]:
#Look at the values of the columns of df2
df2['Primary streaming service'].value_counts()

Spotify                              458
YouTube Music                         94
I do not use a streaming service.     71
Apple Music                           51
Other streaming service               50
Pandora                               11
Name: Primary streaming service, dtype: int64

*The `I do not use a streaming service` seems too long we'll try to modify to another simpler value such as `None`,
same thing for `Other streaming service` we can modify to simply `Other`*

In [30]:
df2.BPM.value_counts()

120.0    45
140.0    25
150.0    18
110.0    16
105.0    15
         ..
181.0     1
106.0     1
191.0     1
40.0      1
168.0     1
Name: BPM, Length: 135, dtype: int64

In [36]:
df2['Music effects'].value_counts()

Improve      542
No effect    169
Worsen        17
Name: Music effects, dtype: int64

In [38]:
df2['Permissions'].value_counts()

I understand.    736
Name: Permissions, dtype: int64

*Since the column `Permissions` only contains the value `I understand`, it likely pertains to participants granting permission for data use. Therefore, I will drop this column.*

# Cleaning the data
### df1
###### Changes that need to be done:

1. **Drop Column: Timestamp**
   
   I will remove the "Timestamp" column since it's not relevant to our analysis.

2. **Change Column Names**

   I will update the column names for clarity and consistency.

3. **Fill Missing Values of Age with Mean**
   
   Any missing values in the "Age" column will be filled with the mean age of participants.

4. **Change Year Column Format**
   
   I will modify the format of the "Year" column to retain only the numerical representation of the year.

5. **Change Course Names**
   
   The course names will be revised to ensure clarity and eliminate any repetitions.
---
### df2
###### Changes that need to be done:

1. **Drop Columns: Timestamp, Permissions**

2. **Fill Null Values**

   - **Age**: Missing values in the "Age" column will be filled with the mean age of participants.
   - **Streaming Services**: Null values will be replaced with the most used service, which is Spotify.
   - **While Working, Instrumentalist, Composer, Foreign Languages, Music Effects**: These columns will be filled with "No", assuming that this is what participants by ignoring filling this information.
   - **BPM**: Missing BPM values will be replaced with the mean BPM for each genre.

3. **Replace Values**

   - **999999999.0**: This value will be replaced with the mean of the corresponding genre.
   - **'I do not use a streaming service'**: This value will be replaced with "None".
   - **'Other streaming service'**: This value will be simplified to "Other".